/************************
*****Color variables***** 
************************/
/********* GAME ANALYTICS THEME ********/
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
/********* END GAME ANALYTICS THEME ********/
/********* CLUE ORGANGE THEME ********/
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
/********* END CLUE ORANGE THEME ********/
/* Overriden from bootstrap */
@import url(../css/bootstrap-theme.min.css);
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("ttf"); }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 3rem; }

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem; }

.header,
.footer {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #977EF2 0%, #0597F2 100%);
  color: #fefee2; }
  .header .inner-header,
  .footer .inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0; }
  .header .flex,
  .footer .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; }
  .header .waves,
  .footer .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px; }
  .header .content,
  .footer .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #fefee2; }
  .header .parallax use,
  .footer .parallax use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }
    .header .parallax use:nth-child(1),
    .footer .parallax use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s; }
    .header .parallax use:nth-child(2),
    .footer .parallax use:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s; }
    .header .parallax use:nth-child(3),
    .footer .parallax use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s; }
    .header .parallax use:nth-child(4),
    .footer .parallax use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s; }

.footer .inner-footer {
  height: 30vh;
  width: 100%;
  margin: 0;
  padding: 0; }

.footer .waves {
  height: 10vh;
  transform: rotate(180deg); }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px; }
  .content {
    height: 30vh; }
  h1 {
    font-size: 24px; } }

#header {
  height: 90vh; }
  #header .navbar-custom {
    position: fixed;
    width: 100%;
    height: 7vh;
    top: 0;
    z-index: 1; }

#footer {
  margin-top: 6vh; }

#header .navbar-scrolled {
  position: fixed;
  top: 0;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5); }
  #header .navbar-scrolled a, #header .navbar-scrolled input {
    color: black; }
    #header .navbar-scrolled a.btn, #header .navbar-scrolled input.btn {
      color: white; }
      #header .navbar-scrolled a.btn.btn-outline-light, #header .navbar-scrolled input.btn.btn-outline-light {
        border-color: #ced4da; }

.App {
  text-align: center; }
  .App .jumbo-header {
    background: #977EF2;
    height: 50vh;
    margin-bottom: 0;
    border-bottom: 3vh solid #0597F2; }
  .App .main-content {
    margin: 0;
    padding: 0;
    min-height: 50vh;
    border-bottom: 1px solid #dee2e6; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
